.background {
  min-height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/support-local.jpg);
}

.home {
  position:absolute;
  top:0;
  left:0;
}

