
.icon {
  height: 200px;
}

.button {
  background: #D15018;
  border-color: #D15018;
}

@media (max-width: 767.98px) {
  .icon {
    height: 150px;
    margin-top: 16px;
  }

  .container {
    text-align: center!important;
  }

  .subtitle {
    font-size: 1rem;
  }
}
